services:
  postgres:
    image: postgres:16
    container_name: database
    restart: unless-stopped
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev_db
      DB_HOST: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dev_user -d dev_db"]
      interval: 3s
      timeout: 3s
      retries: 10

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass dev_redis_password
    ports:
      - "6379:6379"
    networks:
      - backend_network
    healthcheck:
      test: ["CMD", "redis-cli", "--pass", "dev_redis_password", "ping"]
      interval: 3s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: dev.Dockerfile
    environment:
      DOPPLER_TOKEN: ${DOPPLER_TOKEN}
      DOPPLER_CONFIG: ${DOPPLER_CONFIG:-dev}
      APP_PORT: 8000
      REDIS_ADDRESS: redis:6379
      REDIS_PASSWORD: dev_redis_password
    volumes:
      - .:/app
      - /app/tmp
    ports:
      - "8000:8000"
    extra_hosts:
      - "localhost.localstack.cloud:host-gateway"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend_network

volumes:
  pgdata:

networks:
  backend_network:
    driver: bridge
