version: "3.9"

services:
  api:
    build: 
      context: .
      dockerfile: dev.Dockerfile
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
      - APP_PORT=8000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=dev_user
      - DB_PASSWORD=password
      - DB_DATABASE=dev_db
    volumes:
      - .:/app
      - /app/tmp
      - /app/.git
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - backend_network

  postgres:
    image: postgres:16
    container_name: database
    restart: unless-stopped
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend_network

volumes:
  pgdata:

networks:
  backend_network:
    driver: bridge