basePath: /
definitions:
  errs.APIError:
    properties:
      message: {}
      statusCode:
        type: integer
    type: object
  models.CreateUserRequest:
    properties:
      name:
        minLength: 1
        type: string
      username:
        type: string
    required:
    - name
    - username
    type: object
  models.UpdateUserRequest:
    properties:
      name:
        minLength: 1
        type: string
      username:
        type: string
    type: object
  models.User:
    properties:
      id:
        type: string
      name:
        type: string
      username:
        type: string
    type: object
host: localhost:8000
info:
  contact: {}
  description: Bringing group travel plans to life
  title: Toggo API
  version: "1.0"
paths:
  /api/v1/users:
    post:
      consumes:
      - application/json
      description: Creates a new user with the provided payload
      operationId: createUser
      parameters:
      - description: Create user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errs.APIError'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/errs.APIError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errs.APIError'
      summary: Create a new user
      tags:
      - users
  /api/v1/users/{userID}:
    delete:
      description: Deletes a user by ID
      operationId: deleteUser
      parameters:
      - description: User ID
        in: path
        name: userID
        required: true
        type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errs.APIError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/errs.APIError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errs.APIError'
      summary: Delete a user
      tags:
      - users
    get:
      description: Retrieves a user by ID
      operationId: getUser
      parameters:
      - description: User ID
        in: path
        name: userID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errs.APIError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/errs.APIError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errs.APIError'
      summary: Get a user
      tags:
      - users
    patch:
      consumes:
      - application/json
      description: Updates an existing user by ID
      operationId: updateUser
      parameters:
      - description: User ID
        in: path
        name: userID
        required: true
        type: string
      - description: Update user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errs.APIError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/errs.APIError'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/errs.APIError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errs.APIError'
      summary: Update a user
      tags:
      - users
  /healthcheck:
    get:
      description: Returns OK if the server is running
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            type: string
      summary: Healthcheck endpoint
      tags:
      - example
swagger: "2.0"
