name: Backend CI

permissions: read-all

on:
  push:
    paths:
      - backend/**
      - config/**
      - .github/workflows/backend.yml
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Format, Lint & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go

      - name: Set Doppler Token
        run: echo "DOPPLER_TOKEN=${{ secrets.DOPPLER_TOKEN }}" >> $GITHUB_ENV

      - name: Install Doppler CLI
        run: |
          curl -Ls https://cli.doppler.com/install.sh | sudo sh -s -- --version 3.70.0

      - name: Install lint tooling
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Format
        run: make format
        working-directory: backend

      - name: Lint
        run: make lint
        working-directory: backend

      - name: Start Docker
        run: |
          sudo systemctl start docker
          docker info

      - name: Test
        run: make test
        working-directory: backend
