name: Backend Deployment Preview Delete

on:
  pull_request:
    types: [ closed ]
    paths:
      - 'backend/**'
      - '.github/workflows/be_*.yml'

jobs:
  closed:
    runs-on: ubuntu-latest
    steps:
      - name: delete preview app
        uses: digitalocean/app_action/delete@v2
        with:
          from_pr_preview: "true"
          ignore_not_found: "true"
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}